@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', Arial;
  color: #318628;
  -webkit-font-smoothing: antialiased;
}
a {
  font-family: 'Lato', Arial;
  -webkit-font-smoothing: antialiased;
}
div.content {
  overflow: hidden ;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #318628;
}
header .navbar-default {
  background: none;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.navbar-fixed-top {
  /*background-color: rgba(10,10,10,0.5);*/
  /* Old browsers */
  background: -moz-linear-gradient(180deg, rgba(57,100,110,0.8) 0%, rgba(255,255,255,0.0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(57,100,110,0.8)), color-stop(100%, rgba(255,255,255,0.0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(57,100,110,0.8) 0%, rgba(255,255,255,0.0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(57,100,110,0.8) 0%, rgba(255,255,255,0.0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(57,100,110,0.8) 0%, rgba(255,255,255,0.0) 100%);
  /* IE10+ */
  background: linear-gradient(180deg, rgba(57,100,110,0.8) 0%, rgba(255,255,255,0.0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(57,100,110,0.8), endColorstr=rgba(255,255,255,0.0), GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
header .navbar-default ul.navbar-nav {
  padding-top: 55px;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  /*Make text readable on a bright backgrounds:*/
  text-shadow: 0px 0px 5px rgba(100, 100, 100, 0.8);
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: #ffffff;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-header {
  vertical-align: text-bottom; /*to-do*/
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default .navbar-brand img.logo{
  vertical-align: bottom;
}
header .navbar-default.scrolled,
header .navbar-default.frozen {
  /*background: rgba(255, 255, 255, 0.8);*/
  background: rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled .navbar-brand, 
header .navbar-default.frozen .navbar-brand {
  padding: 5px 10px;
}
header .navbar-default.scrolled .navbar-brand img, 
header .navbar-default.frozen .navbar-brand img {
  width: auto;
  max-height: 53px;
}
header .navbar-default.scrolled ul.navbar-nav,
header .navbar-default.frozen ul.navbar-nav {
  padding-top: 15px;
}
.scrollpoint {
  opacity: 0;
}
.scrollpoint.active {
  opacity: 1 \0;
}
.hanging-phone {
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: -70px;
}
.section-heading {
  margin: 60px 0 40px;
  text-align: center;
}
.section-heading h1 {
  display: inline-block;
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 0;
}
.section-heading p {
  font-size: 17px;
  color: #999999;
  font-weight: 300;
}
.section-heading .divider:after {
  content: "";
  position: relative;
  height: 4px;
  width: 60px;
  display: block;
  text-align: center;
  margin: 13px auto;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.section-heading.inverse h1,
.section-heading.inverse p {
  color: #ffffff;
  /*color: #318628;*/
}
.section-heading.inverse .divider:after {
  background: #ffffff;
  /*background: #318628;*/
}
section#about {
  position: relative;
}
section#about .about-item {
  text-align: center;
  line-height: 25px;
  color: #999999;
}
section#about .about-item p {
  margin-top: 10px;
  font-size: 17px;
}
section#about .about-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.6em;
  text-align: center;
}
section#features .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 2.6em;
  text-align: center;
}
section#features .media .media-heading {
  padding-top: 10px;
  font-weight: 300;
}
section#features .media .media-body {
  color: #999999;
}
section#features .media.feature {
  margin-top: 25px;
}
section#features .media.feature:first-child {
  margin-top: 0;
}
section#features img {
  margin: 0 auto 20px;
}
section#reviews {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#reviews .review-filtering {
  margin: 20px 0 100px 0;
}
section#reviews .review-filtering .review .review-person {
  width: 100%;
}
section#reviews .review-filtering .review .review-person img {
  width: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
}
section#reviews .review-filtering .review .review-comment {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 40px 20px;
  position: relative;
}
section#reviews .review-filtering .review .review-comment h3 {
  margin-bottom: 15px;
}
section#reviews .review-filtering .review .review-comment p {
  font-size: 16px;
  color: #777777;
}
section#reviews .review-filtering .review .review-comment p span {
  margin-left: 10px;
}
section#reviews .review-filtering .review .review-comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 15px;
  margin-top: -10px;
}
section#reviews .review-filtering .review .review-person,
section#reviews .review-filtering .review .review-comment {
  float: left;
}
section#reviews .review-filtering .slick-dots {
  bottom: -80px;
}
section#reviews .review-filtering .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
section#reviews .review-filtering .slick-dots li button:before {
  display: none;
}

section#getApp .slider {
  margin: 50px 0;
}
section#getApp .slider div.info {
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px; 
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto; 
  font-size: 10px;
}

*[data-sh-grid] div img,
section#getApp .slider div img {
/*  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
*/  padding: 10px;
  padding-top: 0px;
  display: inline;
}
section#screens *[data-sh-grid] div h4,
section#getApp .slider div h4 {
  text-align: center;
  /*margin-top: 40px;*/
  font-size: 16px;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  /*color: #ffb139;*/
  /*background-color: #318628;*/
  background-color: rgba(5,5,5,0.8);
}

section#screens .slider div h4 {
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section#getApp .slider div a {
  color: #ffffff;
  font-size: 12px;
}
section#getApp .slider div h4 {
  background-color: rgba(5,5,5,0.8);
}
section#screens *[data-sh-grid] .slick-dots li button,
section#getApp .slider .slick-dots li button {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
section#screens .slick-prev,
section#screens .slick-next,
section#getApp .slick-prev,
section#getApp .slick-next {
  width: 50px;
  height: 50px;
  top: 44%;
}
section#screens .slick-slide,
section#getApp .slick-slide {
  text-align: center;
}
section#screens .slick-prev:before,
section#getApp .slick-prev:before {
  content: "\f104";
}
section#screens .slick-next:before,
section#getApp .slick-next:before {
  content: "\f105";
}
section#screens .slick-prev:before,
section#screens .slick-next:before,
section#getApp .slick-prev:before,
section#getApp .slick-next:before {
  font-size: 34px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  line-height: 45px;
  color: #CCC;
  border: 2px solid #CCC;
  width: 50px;
  display: inline-block;
  height: 50px;
  text-align: center;
}
section#screens .filter,
section#getApp .filter {
  text-align: center;
}
section#screens .filter a,
section#getApp .filter a {
  display: inline-block;
  padding: 7px 20px;
  text-decoration: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  margin: 10px 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* demo video Section */
section#demo .video-container {
  padding: 20px;
  border: 1px solid #b3b3b3;
  min-height: 450px;
  overflow: hidden;
}
section#demo iframe {
  width: 100%;
  height: 100%;
  border: none;
}
/* Get app Section */
section#getApp {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 70px 0;
}
section#getApp .platforms {
  margin: 5px auto 60px auto;
  text-align: center;
}
section#getApp .platforms .btn {
  margin-right: 10px;
  margin-bottom: 20px;
}
/* support section */
section#support {
  padding: 0 0 150px 0;
}
section#support .media {
  margin-bottom: 10px;
}
section#support .media i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 1.9em;
  text-align: center;
}
section#support .media .media-heading {
  padding-top: 15px;
  font-weight: 300;
}
section#support .media .media-heading a {
  font-weight: 400;
}
/* footer section */
footer {
  padding: 80px 0;
  text-align: center;
}
footer a > img.logo {
  width: 300px;
}
footer .social {
  display: block;
  margin-top: 30px;
}
footer .social a {
  margin: 0 8px;
  padding: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
footer .social a i {
  width: 1em;
}
footer .rights {
  margin-top: 30px;
}
footer .rights a {
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: bold;
}
footer .rights a:hover {
  text-decoration: none;
}
section {
  position: relative;
  padding-bottom: 90px;
}
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.tp-caption, .tp-caption * {
  font-family: 'Lato', Arial !important;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}
.tp-caption.small_light_white, .tp-caption.small_light_bold {
  color: #ffffff;
}
.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-primary {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
}
.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
form .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  height: 40px;
  line-height: 40px;
  padding: 10px 20px;
  color: #cfcfcf;
  border: 2px solid #cccccc;
  font-weight: 300;
}
form textarea.form-control {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: auto;
  line-height: normal;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse,
  header .navbar-default.frozen .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav,
  header .navbar-default.frozen ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle,
  header .navbar-default.frozen .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}
.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: none;
}
.pre-loader .load-con {
  margin: 20% auto;
  position: relative;
  text-align: center;
}
.spinner {
  margin: 50px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
header {
  background-color: #318628;
  /*background-image: url(../img/japan-1.png);*/
  /*background-image: url(../img/grass2.jpg);*/
  background-size: cover;
  /*#FF9A00*/
  /*#C57700*/
  /*background: #318628;*/
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #318628 0%, #65B633 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #318628), color-stop(100%, #65B633));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #318628 0%, #65B633 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #318628 0%, #65B633 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #318628 0%, #65B633 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #318628 0%, #65B633 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#318628, endColorstr=#65B633, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}

header .navbar-default.scrolled ul.navbar-nav li a.getApp,
header .navbar-default.frozen ul.navbar-nav li a.getApp {
  color: rgba(255,255,255,1.0);
}
header .navbar-default.scrolled ul.navbar-nav li a.getApp:hover,
header .navbar-default.frozen ul.navbar-nav li a.getApp:hover {
  color: rgba(0,0,0,1.0);
}

header .navbar-default ul.navbar-nav li a.getApp, 
.news-layer .btn.btn-primary, 
section#reviews .btn.btn-primary {
  color: #ffffff;
  /*background: #ffffff;*/


  background: #65B633;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #65B633 0%, #318628 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #65B633), color-stop(100%, #318628));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #65B633 0%, #318628 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #65B633 0%, #318628 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #65B633 0%, #318628 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #65B633 0%, #318628 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#65B633, endColorstr=#318628, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
header .navbar-default ul.navbar-nav li a.getApp:hover, 
.news-layer .btn.btn-primary:hover,
section#reviews .btn.btn-primary:hover {
  color: rgba(0,0,0,1.0);
  text-shadow: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled,
header .navbar-default.frozen {
  border-bottom: 3px solid #65B633;
}
header .navbar-default.scrolled ul.navbar-nav li a,
header .navbar-default.frozen ul.navbar-nav li a {
  /*color: #65B633;*/
  color: #ececec;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover,
header .navbar-default.frozen ul.navbar-nav li a:hover {
  /*color: #65B633;*/
  color: #ffffff;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover:after,
header .navbar-default.frozen ul.navbar-nav li a:hover:after {
  /*background: #65B633;*/
  background: #ffffff;
}
header .navbar-default.scrolled .navbar-brand,
header .navbar-default.frozen .navbar-brand {
  /*background: #-318824;*/ /*old-green*/
  /*background: #25d500;*/
  background: #318628;
}
section .section-heading .divider:after {
  background: #318628;
}
section#about .about-item i.fa {
  border: 2px solid #318628;
  color: #318628;
}
section#about .about-item:hover i.fa {
  color: #ffffff;
  background: #318628;
}
section#about .about-item:hover h3 {
  color: #318628;
}
section#features {
  background: #f6f6f6;
}
section#features header h1:after {
  background: #318628;
}
section#features .media i.fa {
  border: 2px solid #318628;
  color: #318628;
}
section#features .media:hover i.fa {
  color: #ffffff;
  background: #318628;
}
section#features .media:hover h3 {
  color: #318628;
}
section#features .media.active i.fa {
  color: #ffffff;
  background: #318628;
}
section#features .media.active .media-heading {
  color: #318628;
}
section#reviews {
  background: url("../img/japan-1.png");
  background-size: cover;
}
section#reviews header {
  color: #ffffff;
}
section#reviews header h1:after {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-person img {
  border: 3px solid #ffffff;
}
section#reviews .review-filtering .review .review-comment {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-comment h3 {
  /*color: #318628;*/
  color: #CB8D5D;
}
section#reviews .review-filtering .review .review-comment p span i {
  color: #318628;
}
section#reviews .review-filtering .review .review-comment:after {
  border-right-color: #ffffff;
}
section#reviews .review-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
section#reviews .review-filtering .slick-dots li.slick-active button {
  background: #318628;
}
section#screens header h1:after,
section#getApp header h1:after {
  background: #318628;
}
section#getApp h2, 
section#getApp p {
  color: #ffffff;
}
section#screens .slider div img,
section#screens *[data-sh-grid] div img {
  /*border: 2px solid #e5e5e5;*/
}
section#screens .slider div.slick-slide {
  max-height: 200px;
  overflow-y: hidden;
/*  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #333333;
*/}

.slider div.slick-slide h4 {
  margin-left: 10px;
  margin-right: 10px;
}

section#getApp .slider div.slick-slide {
  height: 300px;
  overflow-y: hidden;
}

/*for subpages*/
.info-module {
  padding: 25px;
  margin: 0px;
}

section.story {
  padding-left: 50px;
  padding-right: 50px;
}
section.story .divider {

}
section.story p {
  color: #333333;
}


/*Grid cells*/
*[data-sh-grid] div.row {
  /*margin-bottom: 20px;*/
}

*[data-sh-grid] div.row > div {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;

  border: 10px solid #ffffff;
  border-radius: 7px;
/*  margin-left: 5px;
  margin-right: 5px;
*/
  height: 235px;
  max-height:235px;
  overflow-y: hidden;
}

*[data-sh-grid] div.row > div:hover {
  border-width: 7px;
  transition: .5s all;
}

*[data-sh-grid] div.row img {
  vertical-align: bottom;
}

*[data-sh-grid] div.row > div h4 {
  margin-left: 0;
  margin-right: 0;
}

/* Grid item foreground*/
*[data-sh-grid] div.row div h4 + div {
  content: '';
  line-height: 100%;
  height: 100%;
}

/* Scroll "anchors" below navbar: */
div[id] > h2 {
  padding-top: 63px;
}

/* Image gallery buttons */
a.gallery-back-button,
a.gallery-forward-button {
  position: fixed;
  display: block;
  top: 10%;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  /*width: 40px;*/
  /*height: 60px;*/
  overflow: hidden;
  color: #eeeeee;

  text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.8);
  /*background-color: rgba(0,0,0,0.2);*/
  /*border: 3px solid rgba(255,255,255,0.8);*/
  /*border-radius: 50%;*/

  text-decoration: none;
}

a.gallery-back-button:hover,
a.gallery-forward-button:hover {
  color: #ffffff;
}

a.gallery-back-button { left:5%;}
a.gallery-forward-button {right:5%;}
